{# mp.jobb.job.index.html.twig #}
{% extends app['mp.jobb.templates.layout'] %}
{% block content %}
    <h3>{{ category.name }} Jobs <span class="pull-right muted"><small><a href="#">feed</a></small></span></h3>
    <h6> {{ total }} <span class="muted inline">jobs in this category</span></h6>
    <table class="table table-striped">
        <tbody>

        {% for job in jobs %}
            {% include 'mp.jobb.job.row.html.twig' %}
        {% endfor %}
        </tbody>
    </table>
    {% include 'mp.jobb.pagination.html.twig' with { total : total , limit: limit , offset : offset } %}
{% endblock %}
