{# mp.jobb.job.index.html.twig #}
{% extends app['mp.jobb.templates.layout'] %}
{% block content %}
    <h3>Latest Jobs</h3>
    <table class="table table-striped">
        <tbody>
        {% for category in categories %}
            <tr>
                <th colspan="4">
                    <a href="{{ path('category_read',{id:category.id,name:category.name|slugify}) }}">{{ category }}</a> <span
                        class="pull-right muted"><small><a href="#">feed</a></small></span>
                </th>
            </tr>

            {% for job in app['mp.jobb.service.job'].findBy({category:category},{createdAt:"DESC",expiresAt:'DESC'},10) %}
                {% include 'mp.jobb.job.row.html.twig' %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}