{# mp.jobb.job.index.html.twig #}
{% extends app['mp.jobb.templates.layout'] %}
{% block content %}
    <h2>Admin</h2>
    <ul class="inline">
        <li><a href="{{ path("mp_crud_job_index") }}">Jobs</a></li>
        <li>|</li>
        <li><a href="{{ path("mp_crud_category_index") }}">Categories</a></li>
    </ul>
    {% block mp_crud_content %}
    {% endblock %}
{% endblock %}